.asideBar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    background-color: beige;
    padding:2rem;
    width: 20vw;
}
.upperPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
input[type=text]{
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
}
.addToList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addATag{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}
.addATag>h1{
    width: 100%;
}
.tags{
    padding: 0.2rem 0.45rem 0.2rem 0.45rem;
    border: 0;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 0.95rem;
}
.tagsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: .51rem;

}
.middlePart{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
select{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.1rem;
}
option{
    padding-left: 0.5rem;
    font-size: 1.1rem;
    padding-right: 0.5rem;
}